body {
  min-width: 350px;
  max-width: 750px;
  margin: 0 auto;
  background-color: #f2f4f7;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-family: "Microsoft Yahei";
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.header {
  width: 100%;
  height: 2.133333rem;
  background-color: #26b8f3;
  padding: 0 15px;
  box-sizing: border-box;
}
.header a {
  position: absolute;
  line-height: 2.133333rem;
  font-size: 0.693333rem;
  color: #fff;
  display: inline-block;
  float: left;
  z-index: 9;
}
.header p {
  line-height: 2.133333rem;
  text-align: center;
  font-size: 0.933333rem;
  color: #fff;
}
.section {
  padding: 0.4rem;
}
.section ul {
  list-style: none;
}
.section ul li {
  width: 100%;
  box-shadow: inset 0px 15px 15px -15px #000, inset 0px -15px 15px -15px #000;
  border-bottom: 0.533333rem;
  background-color: #fff;
  padding: 0.533333rem;
  margin-bottom: 0.533333rem;
}
.section ul li:last-child {
  margin-bottom: 3.3rem;
}
.section ul li .img {
  display: inline-block;
  width: 5rem;
  float: left;
  margin-right: 0.4rem;
}
.section ul li h4 {
  font-size: 0.85rem;
  color: #000;
}
.section ul li span {
  font-size: 0.75rem;
  color: #666;
  margin-left: 0.533333rem;
}
.section ul li p {
  line-height: 0.933333rem;
  font-size: 0.75rem;
  text-indent: 2em;
  color: #666;
}
.section ul li p span {
  font-size: 0.693333rem;
  color: #FF4400;
}
.footer {
  width: 100%;
  height: 2.933333rem;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  background-color: #fff;
  padding-top: 0.533333rem;
  border-top: 1px solid #ccc;
}
.footer .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .item img {
  width: 1.04rem;
  height: 1.093333rem;
  margin-bottom: 0.266667rem;
}
.footer .item p {
  font-size: 0.586667rem;
  color: #666;
}
