.title {
  padding: 0.533333rem;
}
.title .swiper-container {
  width: 100%;
  max-height: 5.333333rem;
  border-radius: 0.533333rem;
}
.title .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.title .swiper-slide img {
  max-height: 5.333333rem;
}
.form {
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
  margin-bottom: 3.3rem;
}
.form .form_box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.266667rem;
  box-shadow: 0px 0.266667rem 0.266667rem #ccc;
  font-size: 0.426667rem;
  padding: 0.533333rem;
  box-sizing: border-box;
}
.form .form_box ul {
  list-style: none;
}
.form .form_box ul li {
  height: 2.133333rem;
  line-height: 2.133333rem;
  font-size: 0.693333rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.8rem;
}
.form .form_box ul li .isOk {
  vertical-align: middle;
  zoom: 2;
  -webkit-appearance: none;
  /* 清除原有的样式 */
  background-color: transparent;
  border: 0;
  outline: 0 !important;
  /* 去掉点击后外面可能会出现的蓝框 */
  line-height: 20px;
  color: #d8d8d8;
}
.form .form_box ul li .isOk:after {
  /* //在input的内容之后插入新内容 */
  content: "";
  display: block;
  width: 0.5208rem;
  height: 0.5208rem;
  border-radius: 50%;
  text-align: center;
  line-height: 0.1458rem;
  font-size: 0.45rem;
  color: #fff;
  border: 0.1rem solid #ddd;
  background-color: #fff;
  box-sizing: border-box;
  /* 规定两个并排的带边框的框 */
}
.form .form_box ul li .isOk:checked:after {
  /* 选中之后的样子 */
  content: "L";
  transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
  /* 2D变换旋转，还有平移和缩放，平时旋转用rotate，这个写法是比较复杂一点的写法，
括号里面的六个值来得矩阵，实现2D变换，更详细的大家去百度查。 */
  -webkit-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
  border-color: #099414;
  background-color: #099414;
}
.form .form_box ul li select {
  max-width: 14rem;
  min-width: 10rem;
  height: 1.6rem;
  line-height: 1.6rem;
  padding: 0 3%;
  text-align: center;
  text-align-last: center;
}
.form .form_box ul .date {
  max-width: 20rem;
  min-width: 13rem;
  height: 2.133333rem;
}
.form .form_box button {
  width: 100%;
  height: 2.133333rem;
  background-color: #73b52d;
  border-radius: 0.266667rem;
  border: 1px solid #73b52d;
  font-size: 0.933333rem;
  margin: 1rem 0;
}
.form .form_box button a {
  line-height: 2.133333rem;
  color: #fff;
  font-size: 0.933333rem;
}
