* {
  margin: 0;
  padding: 0;
}

// 头部轮播图
.title {
  padding: 0.533333rem;

  .swiper-container {
    width: 100%;
    max-height: 5.333333rem;
    border-radius: 0.533333rem;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img {
      max-height: 5.333333rem;
    }
  }
}

// 预约列表
.form {
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
  margin-bottom: 3.3rem;

  // 预约列表盒子
  .form_box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.266667rem;
    box-shadow: 0px 0.266667rem 0.266667rem #ccc;
    font-size: 0.426667rem;
    padding: 0.533333rem;
    box-sizing: border-box;

    ul {
      list-style: none;

      li {
        height: 2.133333rem;
        line-height: 2.133333rem;
        font-size: 0.693333rem;
        border-bottom: 1px solid #ccc;
        margin-bottom: 0.8rem;
        .isOk {
          vertical-align: middle;
          // zoom: 1.5;
          -webkit-appearance: none;
          /* 清除原有的样式 */
          background-color: transparent;
          border: 0;
          outline: 0 !important;
          /* 去掉点击后外面可能会出现的蓝框 */
          line-height: 0.2083rem;
          color: #d8d8d8;
          span {
            display: inline-block;
            vertical-align: middle;
          }
          &:after {
                /* //在input的内容之后插入新内容 */
                content: "";
                display: block;
                width: 0.85rem;
                height: 0.85rem;
                border-radius: 50%;
                text-align: center;
                line-height: 0.85rem;
                font-size: 0.85rem;
                color: #fff;
                border: 0.1rem solid #ddd;
                background-color: #fff;
                box-sizing: border-box;
                /* 规定两个并排的带边框的框 */
            }
          &:checked:after {
              /* 选中之后的样子 */
              border: 0;
              content: "L";
              display: block;
              height: 0.85rem;
              line-height: 0.85rem;
              text-align: center;
              transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
              /* 2D变换旋转，还有平移和缩放，平时旋转用rotate，这个写法是比较复杂一点的写法，
括号里面的六个值来得矩阵，实现2D变换，更详细的大家去百度查。 */
              -webkit-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
              border-color: #099414;
              background-color: #099414;
          }
        }

        // 下拉列表
        select {
          max-width: 14rem;
          min-width: 10rem;
          height: 1.6rem;
          line-height: 1.6rem;
          padding: 0 3%; //左右一定要设置
          text-align: center;
          text-align-last: center;
        }
      }

      .date {
        max-width: 20rem;
        min-width: 13rem;
        height: 2.133333rem;
      }
    }

    // 预约按钮
    button {
      width: 100%;
      height: 2.133333rem;
      background-color: #73b52d;
      border-radius: 0.266667rem;
      border: 1px solid #73b52d;
      font-size: 0.933333rem;
      margin: 1rem 0;

      a {
        line-height: 2.133333rem;
        color: #fff;
        font-size: 0.933333rem;
      }
    }
  }
}
