body {
  min-width: 350px;
  max-width: 750px;
  margin: 0 auto;
  background-color: #f2f4f7;
}
a {
  text-decoration: none;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.header {
  width: 100%;
  height: 2.133333rem;
  background-color: #26b8f3;
  padding: 0 15px;
  box-sizing: border-box;
}
.header a {
  position: absolute;
  line-height: 2.133333rem;
  font-size: 0.693333rem;
  color: #fff;
  display: inline-block;
  float: left;
  z-index: 9;
}
.header p {
  line-height: 2.133333rem;
  text-align: center;
  font-size: 0.933333rem;
  color: #fff;
}
.form {
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
}
.form .form_box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.266667rem;
  box-shadow: 0px 0.266667rem 0.266667rem #ccc;
  font-size: 0.426667rem;
  padding: 0.533333rem;
  box-sizing: border-box;
}
.form .form_box ul {
  list-style: none;
}
.form .form_box ul li {
  height: 2.133333rem;
  line-height: 2.133333rem;
  font-size: 0.693333rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.8rem;
}
.form .form_box ul li select {
  max-width: 13.333333rem;
  min-width: 10rem;
  height: 1.6rem;
  line-height: 1.6rem;
  padding: 0 3%;
  text-align: center;
  text-align-last: center;
}
.form .form_box button {
  width: 100%;
  height: 2.133333rem;
  background-color: #73b52d;
  border-radius: 0.266667rem;
  border: 1px solid #73b52d;
  font-size: 0.933333rem;
  margin: 1rem 0;
}
.form .form_box button a {
  line-height: 2.133333rem;
  color: #fff;
  font-size: 0.933333rem;
}
.footer {
  width: 100%;
  height: 2.933333rem;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  background-color: #fff;
  padding-top: 0.533333rem;
  border-top: 1px solid #ccc;
}
.footer .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .item img {
  width: 1.04rem;
  height: 1.093333rem;
  margin-bottom: 0.266667rem;
}
.footer .item p {
  font-size: 0.586667rem;
  color: #666;
}
