body {
  background-color: #111;
}
.section {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 3.5rem;
}
.section .box {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.section .box .box_1 {
  width: 100%;
  height: 9rem;
  flex-direction: row-reverse;
  background-color: #fff;
  border-radius: 0.533333rem;
  margin-top: 1.066667rem;
  overflow: hidden;
}
.section .box .box_1 img {
  height: 7rem;
  margin-bottom: 0.6rem;
}
.section .box .box_1 h5 {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 400;
}
.section .box .box_1:last-child {
  margin-bottom: 1.066667rem;
}
